body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.display {
    background-color: #fff;
    color: #000;
    font-size: 2em;
    padding: 10px;
    text-align: right;
    margin-bottom: 10px;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.row {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    
}

.buttons3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.btn {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #555;
}

.operator {
    background-color: #ff9500;
}

.operator:hover {
    background-color: #e08900;
}

.is-depressed {
    background-color: #b87202;
}

.clear {
    background-color: #ff3b30;
}

.clear:hover {
    background-color: #d32f2f;
}

.equals {
    background-color: #2196f3;
    grid-row: span 4;
    margin-left: 5px;
}

.equals:hover {
    background-color: #1976d3;
    grid-row: span 4;
}
